<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="calamity" class="from-the-skies"></canvas>
    <script src="/bundles/app.js"></script>
  </body>
</html>
